node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.jks
*.p12
keystore.md
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist
